* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
    font-family: monospace;
}

.inden {
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: salmon;
    font-weight: bold;
    letter-spacing: 1px;
}

img {
    width: 250px;
}